.bg-mynav {
    background: linear-gradient(to right, #434343 0%, black 100%);
}


/* body css*/

body {
    font-size: 1.25rem;
    background-color: #0c0c0c;
    background-image: url("./assets/rustic-wooden-planks-with-blackboard-background_53876-103852.avif");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* table css */

td,
th {
    line-height: 3rem;
    color: rgb(255, 255, 255);
}